.c-section--header {
	padding: 1.25em 0;
	z-index: 100;
	//position: relative;
	box-sizing: border-box;
	min-height: 60px;
	top: 0;
	width: 100%;
	background: var(--color-secondary);
	transition: all .3s ease;
	position: sticky;
	@include mq($from: md) {
		backdrop-filter: blur(20px);
	}

	&.js-scroll {
		box-shadow: $box-shadow;
		padding: .625em 0;
		//position: fixed;
	}
}

.c-section--header-landing.js-scroll {
	box-shadow: $box-shadow;
	padding: .625em 0;
	//position: fixed;
	background: var(--color-bg-80);
	backdrop-filter: blur(2px);

	.c-menu-landing-item a {
		color: var(--color-primary-landing-80);

		&:hover {
			color: var(--color-primary-landing);
		}
	}

	.c-header-landing__call {
		color: var(--color-primary-landing);

		path {
			fill: var(--color-primary-landing);
		}
	}
}

.c-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1.5em;
}

.c-logo {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	z-index: 30;

	img {
		height: 46px;
		width: auto;
		border-radius: 4px;
	}

	@include mq($until: md) {
		flex: 1;
	}
}

//MEGA MENUE
.c-menu {
	display: flex;
	gap: 16px;
	position: relative;
	list-style: none;
	margin: 0;
@include mq($until:md){
		flex-direction: column;
}
	&.open {
		.sub-child-content > ul {
			opacity: 1;
			visibility: visible;
		}
	}

	ul {
		list-style: none;
		visibility: hidden;
		opacity: 0;
		transition: all 0.3s ease;
		position: absolute;
		z-index: 10;
		padding: 16px;
	}

	.sub-menu {
		> li > a {
			position: relative;
			display: block;

			&:before {
				content: '';
				height: 18px;
				width: 18px;
				position: absolute;
				left: -9px;
				margin-top: 2px;
				background-size: contain;
				background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.0001 19.92L8.48009 13.4C7.71009 12.63 7.71009 11.37 8.48009 10.6L15.0001 4.08" stroke="%23292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>');
			}
		}
	}

	.sub-child {
		border-radius: $border-radius;
		top: 56px;
		position: absolute;
		width: 100%;
		right: 0;

		a {
			color: var(--color-dark-80);

			&:hover {
				color: var(--color-dark);
			}
		}
	}

	> li {
		> a {
			color: var(--color-white-80);
		}

		&:hover {
			a {
				color: var(--color-white);
			}

			.sub-child {

				a {
					color: var(--color-dark-80);

					&:hover {
						color: var(--color-dark);
					}
				}

				&:before {
					content: "";
					background: rgba(0, 0, 0, 0);
					width: 100%;
					height: 45px;
					bottom: 100%;
					right: 0;
					position: absolute;
				}
			}
		}
	}

	a {
		@include font-size(13px, 1.4);
	}

	.sub-child-content {
		overflow: hidden;

		> .sub-menu {
			height: 17rem;
			width: 13rem;
			border-radius: 0 $border-radius $border-radius 0;
		}

		li {
			padding: 1rem;
			border-radius: $border-radius;

			a {
				position: relative;
				text-wrap: nowrap;
				@include font-size(14px, 1.6);
				font-weight: normal;
				transition: all .2s linear;
			}

			&:hover {
				background: #dddddd75;

				> a {
					font-weight: bold;
				}
			}
		}

		.sub-menu, .product-list {
			background: var(--color-white);

			.lvl-1, .lvl-2, .product-list {
				width: 13rem;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 13rem;
				box-shadow: inset -4px 0 6px #e2e2e26e
			}

			.product-list {
				width: auto;
				border-radius: $border-radius 0 0 $border-radius;
				background: #f7f7f7;

				a {
					position: relative;
					transition: all .2s linear;
					&:after {
						content: "";
						position: absolute;
						width: 5px;
						height: 15px;
						top: 2px;
						background: var(--color-secondary-80);
						border-radius: 2px;
						right: -9px;
					}
				}
			}
		}
	}
	ul.product-list:not(:has(ul.show)) {
		border-radius: 4px;
	}
	ul.show {
		opacity: 1;
		visibility: visible;
	}
	ul:not(:has(ul.show)) {
		border-radius: $border-radius 0 0 $border-radius;
	}
}

.fixed-submenu-box {
	position: absolute;
	top: 50px;
	width: 100%;
	height: 17em;
	background: var(--color-white);
	border-radius: 0.5em;
	box-shadow: 0 0 1px 1px #cac8c847;
	display: none;
	z-index: 100;
	transition: opacity 0.2s ease;
	overflow: hidden;
}

.fixed-submenu-box.active {
	display: block;
	opacity: 1;
}

.c-header__cta {
	display: flex;
	gap: .625em;
	z-index: 20;
	@include mq($until: 1100px) {
		margin-right: auto;
	}
}

.c-search-btn {
	display: none;
	align-items: center;
	border-radius: $border-radius-pill;
	width: 24px;
	transition: background .125s linear, padding .125s linear, width .125s linear, box-shadow .125s linear;
	overflow: hidden;
	justify-content: flex-end;
	position: relative;
	cursor: pointer;
	@include mq(md) {
		display: flex;
	}

	input {
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		left: 0;
		height: 100%;
		width: 100%;
		padding: 0 1em;
		outline: 0;
		border: 0;
		background: none;
		box-shadow: none;
		@include font-size(14px, 1.8);
		color: var(--color-text);
		transition: opacity .125s linear;
	}
}

.c-number {
	font-weight: 700;
	@include font-size(18px, 1);
}

.c-hamburger {
	display: block;
	position: relative;
	-webkit-user-select: none;
	user-select: none;
	width: 24px;
	z-index: 20;

	@include mq(1100px) {
		display: none;
		position: unset;

		@include ie {
			position: relative;
			top: auto;
		}
	}

	.c-section--header--welcome-page & {
		display: none;
	}
}

.c-hamburger__checkbox {
	display: block;
	width: 24px;
	height: 17px;
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
	-webkit-touch-callout: none;

	@include mq(1100px) {
		display: none;
	}
}

.c-hamburger__icon {
	display: block;
	width: 24px;
	height: 2px;
	margin-bottom: 5px;
	position: relative;
	background: var(--color-white);
	z-index: 1;
	margin-left: 0;
	transform-origin: 4.5px 2px;
	transition: transform 0.25s cubic-bezier(0.77, 0.2, 0.05, 1),
	background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

	&:first-child {
		transform-origin: 0% 0%;
	}

	&:nth-last-child(2) {
		transform-origin: 0% 100%;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.is-fixed {
	//overflow: hidden !important;
	//height: 100%;
}

.c-hamburger__checkbox:checked ~ .c-hamburger__icon {
	opacity: 1;
	transform: rotate(45deg) translate(2px, 0px);
	background: var(--color-white);
	width: 24px;
	height: 2px;
}

.c-hamburger__checkbox:checked ~ .c-hamburger__icon:nth-last-child(2) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

.c-hamburger__checkbox:checked ~ .c-hamburger__icon:nth-last-child(1) {
	transform: rotate(-45deg) translate(3px, 1px);
}

.c-header__wrap {
	flex: 1;

	&.is-open {
		transform: translate(0, 0);

		@include mq(1100px) {
			transform: none;
		}
	}
}

.c-header__wrap {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	margin: 0;
	padding: 8em 1em;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: translate(200%, 0);
	transform: translate(200%, 0);
	transition: transform .5s cubic-bezier(0.77, 0.2, 0.05, 1);
	transition: transform .5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform .5s cubic-bezier(0.77, 0.2, 0.05, 1);
	list-style: none;
	z-index: 10;
	background-color: var(--color-secondary-80);
	background-image: linear-gradient(135deg, var(--color-secondary-80) 0, var(--color-secondary-60) 100%);
	backdrop-filter: blur(5px);
	@include mq($until: 1100px) {
		height: 100vh;
	}

	.js-scroll & {
		padding: 4.25em 1em 1em;
	}

	@include mq(1100px) {
		flex-direction: row;
		position: unset;
		transform: none;
		background: transparent;
		padding: 0;
		margin: 0;
		min-height: auto;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		overflow-y: visible;
		z-index: 1;

		.admin-bar & {
			padding: 0;
		}

		@include ie {
			position: relative;
		}

		.js-scroll & {
			padding: 0;
		}
	}
}

.c-btn-cubes {
	//perspective: 1000px;
	width: 170px;
	height: 39px;
	position: relative;
	z-index: 20;
}

.c-btn-cube {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	animation: spinCube 14s infinite ease-in-out;

	.c-number {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		backface-visibility: hidden;
		text-decoration: none;
		color: var(--color-white);
		gap: .5em;
	}

	div {
		cursor: default;
	}

	.c-number:nth-child(1) {
		transform: rotateX(0deg) translateZ(19px);
	}

	.c-number:nth-child(2) {
		transform: rotateX(-90deg) translateZ(19px);
	}

	.c-number:nth-child(3) {
		transform: rotateX(-180deg) translateZ(19px);
	}

	.c-number:nth-child(4) {
		transform: rotateX(-270deg) translateZ(19px);
	}

	span {
		@include font-size(15px, 1.8);
		text-align: center;
	}
}

@keyframes spinCube {
	0% {
		transform: rotateX(0deg);
	}
	10% {
		transform: rotateX(0deg);
	}
	15% {
		transform: rotateX(-90deg);
	}
	45% {
		transform: rotateX(-90deg);
	}
	50% {
		transform: rotateX(-180deg);
	}
	60% {
		transform: rotateX(-180deg);
	}
	65% {
		transform: rotateX(-270deg);
	}
	95% {
		transform: rotateX(-270deg);
	}
	100% {
		transform: rotateX(-360deg);
	}
}

// News Breaking
.c-section--news-breaking {
	position: relative;
	z-index: 1;
	overflow: hidden;
	margin: 0;
	padding: 0;

	&:after,
	&:before {
		content: "";
		position: absolute;
		width: 100px;
		pointer-events: none;
		z-index: 2;
		height: 100%;
		top: 0;
		@include mq($until: md) {
			width: 16px;
		}
	}

	&:before {
		right: 0;
		background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.76) 67%, #fff 92%, #fff 100%);
	}

	&:after {
		left: 0;
		background: linear-gradient(to right, #fff 0, #fff 8%, rgba(255, 255, 255, 0.76) 33%, rgba(255, 255, 255, 0) 100%);
	}
}

.c-news-breaking {
	position: relative;
}

.c-breaking-news-ticker {
	display: block;
	width: 100%;
	background: var(--color-white);
	height: 40px;
	position: relative;
	overflow: hidden;
	@include font-size(13px, 40px);
}

.bn-news {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;

	ul {
		position: relative;
		width: 100%;
		height: 100%;
		list-style: none;
		padding: 0;
		margin: 0;
		left: 0;
		bottom: 0;
		display: block;

		li {
			overflow: hidden;
			text-overflow: ellipsis;
			display: list-item;
			float: right;
			position: relative;
			width: auto;

			a {
				white-space: nowrap;
				text-overflow: ellipsis;
				text-decoration: none;
				padding: 0 1em;
				color: var(--color-text);
				position: relative;
				display: block;
				overflow: hidden;
				transition: color .125s linear;

				&:hover {
					color: var(--color-primary);
				}
			}
		}
	}
}

//popup search
#search-popup {
	position: fixed;
	inset: 0;
	background: rgb(55 55 55 / 85%);
	z-index: 2;
	padding-top: 8.5em;
	display: flex;
	justify-content: center;
	@include mq(1100px) {
		padding-top: 11em;
	}
}

.c-search-popup {
	&__content {
		width: 768px;
		position: relative;

		.search-field {
			border-radius: $border-radius;
			background: var(--color-white);
			padding: 0 1em;
			box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 2px 0 0 rgba(221, 228, 237, .5019607843);
			height: 52px;
			width: 100%;
			line-height: 1.8;
			color: var(--color-text);
			text-align: right;
			border: 1px solid #e5e8f0;
		}

		@keyframes dots {
			0% {
				content: ".";
			}
			33% {
				content: "..";
			}
			66% {
				content: "...";
			}
			100% {
				content: ".";
			}
		}

		.search-loading::after {
			content: ".";
			animation: dots 1s infinite;
		}
	}

	.close-popup {
		position: absolute;
		left: 0.2em;
		top: -1.5em;
		@include font-size(28px, 1);
		cursor: pointer;
		color: var(--color-primary);
	}

	#search-results ul {
		box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 2px 0 0 rgba(221, 228, 237, 0.5019607843);
		border-radius: .5rem;
		background: var(--color-white);
		padding: 1em;
		list-style: none;
		transition: all linear 0.25s;
		max-height: 20em;
		overflow: hidden;
		overflow-y: auto;

		li:not(:last-child) {
			margin-bottom: .75em;
		}

		a {
			@include font-size(14px, 1.8);
			color: var(--color-text);
			display: flex;
			gap: 16px;
			align-items: center;
			transition: color linear .2s;

			&:hover {
				color: var(--color-primary);
			}

			img {
				height: 60px;
				width: 60px;
				border-radius: $border-radius;
				object-fit: cover;
			}
		}
	}
}

.cart {
	position: relative;
	display: flex;
	align-items: center;
	z-index: 100;

	.cart-count {
		background: #BA0505;
		width: 16px;
		height: 16px;
		gap: 10px;
		color: var(--color-white);
		display: flex;
		align-items: center;
		justify-content: center;
		@include font-size(11px, 1);
		font-weight: 600;
		border-radius: 50%;
		position: absolute;
		top: 4px;
		right: -4px;
	}
}

