:root {
	--color-text: #79889d;
	--color-text-black: #52575c;
	--color-bg: #f7f8fa;
	--color-bg-80: rgba(247, 248, 250, 0.8);
	--color-bg-40: rgba(247, 248, 250, 0.4);
	--color-success: #0AB97A;
	//--color-primary: #CF0A0A;
	//--color-primary: #f03147;
	--color-secondary: #373737;
	--color-grey: #ececee;

	--color-primary: #e94141;
	--color-primary-80: rgb(233 65 65 / .8);
	--color-primary-60: rgb(233 65 65 / .6);
	--color-primary-40: rgb(233 65 65 / .4);
	--color-primary-20: rgb(233 65 65 / .2);

	--color-white: #FFFFFF;
	--color-white-80: rgba(255, 255, 255, .8);
	--color-white-60: rgba(255, 255, 255, .6);
	--color-white-40: rgba(255, 255, 255, .4);
	--color-white-20: rgba(255, 255, 255, .2);

	--color-dark: #424653;
	--color-dark-80: rgba(66, 70, 83, .8);
	--color-dark-60: rgba(66, 70, 83, .6);
	--color-dark-40: rgba(66, 70, 83, .4);
	--color-dark-20: rgba(66, 70, 83, .2);

	--plyr-color-main: var(--color-primary);

}
